In [6]:
#WAP to make a function that returns max value of the list (take list as a parameter)

def max_list(lst):
  lst2 = []
  max = lst[0]

  for i in lst:
    if i > max:
      max = i

  return max

lst = [1,2,3,4,5,6]
print(max_list(lst))

6

In [8]:
# *args & **kwargs

def super_func(*num):   # * parameter can hold any number of positional arguments
  print(num)
  print(*num)
  return sum(num)

print(super_func(1,2,3,4,5))

(1, 2, 3, 4, 5)
1 2 3 4 5
15

In [23]:
def super_func(*num, **n):    # ** parameter can hold any number of keyword arguments
  total = 0
  for i in n.values():
    total += i

  return sum(num) + total

super_func(1,2,3,num1 = 5, num2 = 10)

21

In [29]:
# WAP to find the sum of elements of given list

item = (2,3,4,5)

def sum_finder(item):
  total = 0

  for i in item:
    total += i

  print(total)

sum_finder(item)

14

In [15]:
# Loops in Dictionary

my_dict = {'name':'ram','age': 20, 'is_married': True}

for item in my_dict.items():
  print(item)

for item in my_dict.keys():
  print(item)

for item in my_dict.values():
  print(item)

for key, value in my_dict.items():
  print(key, value)

('name', 'ram')
('age', 20)
('is_married', True)
name
age
is_married
ram
20
True
name ram
age 20
is_married True

In [16]:
for item in my_dict.items():
  a, b = item
  print(a,b)

name ram
age 20
is_married True

In [31]:
# Enumerate

for index, item in enumerate([2,3,4]):
  print(index)

0
1
2

In [33]:
# Scope : What variable do a function have access to?

a = 1

def scope():
  a = 2
  print(a)

scope()
print(a)

2
1

In [34]:
# Scope : What variable do a function have access to?

a = 1

def scope():
  a = 2
  def cope():
    b = 2
  return cope()

scope()
print(a)

1

In [38]:
# Return statement

def sum(num1, num2):
  def another_func(n1, n2):
    return n1 + n2
  return another_func

total = sum(10,25)
print(total(10,40))

50

In [41]:
# DOC String: String inside a function used to give information is called docstring

def calculate_square(num):
  ''' This function takes the number and
      finds the square '''
  return num * num

calculate_square