In [ ]:
# Single Line String
print('Hello World')

Hello World

In [ ]:
print('"Hello"')

"Hello"

In [ ]:
print("'Hello'")

'Hello'

In [ ]:
print('It is very "cold"')

It is very "cold"

In [ ]:
print('It'"'s" ' a "cold" day')

# Escape Sequence (\)
print('It\'s a "cold" day')
print("It's a \"cold\" day")

It's a "cold" day
It's a "cold" day
It's a "cold" day

In [ ]:
# Multiline Strings
print('''Hello Guys
We are Learning Python
and Data Science\n''')

print("""Hello Guys
We are Learning Python
and Data Science""")

Hello Guys
We are Learning Python
and Data Science

Hello Guys
We are Learning Python
and Data Science

In [ ]:
print(type(2+4))
print(type(2.5+2.5))
print(type(2*4))

<class 'int'>
<class 'float'>
<class 'int'>

In [ ]:
print(bool(1))
print(bool(0))
print(bool(40))
print(bool(-1))
print(bool())
print(bool(False))
print(bool(0.1))
print(bool([0]))
print(bool(1-1))
print(bool([]))
print(bool(['']))
print(bool(()))

True
False
True
True
False
False
True
True
False
False
True
False

In [ ]:
#Strings
Text = "We are learning Python"

#Indexing (Accessing Element Throught Integer Value)
print(Text[0])
print(Text[1])
print(Text[-1])
print(Text[-2])

#Slicing (Accessing Certain Part of Strings)
print(Text[0:5])
print(Text[2:6])
print(Text[:5])
print(Text[-1:])
print(Text[5:-1])

W
e
n
o
We ar
 are
We ar
n
e learning Pytho

In [ ]:
# Methods are the functions that is specific to centain objects

print(Text.upper())
print(Text.lower())
print(Text.find('are'))
print(Text.replace('Python','Data Science'))

WE ARE LEARNING PYTHON
we are learning python
3
We are learning Data Science

In [ ]:
# Built-in Functions
print(len(Text))
print(type(Text))

22
<class 'str'>

In [5]:
# List
items = [1, 'ram', True, 'True', 2.5]

# Indexing
print(items[0])
print(items[-1])

# Slicing
print(items[0:2])
print(items[::-1])
print(items)

# Methods
item = [1, 2.5]
item.append(40)
print(item)
print(item.index(2.5))
item.insert(1, 20)
print(item)

#item.insert - adds the element based on the given index
#item.remove - deletes the element based on value
#item.pop - deletes the element based on index

1
2.5
[1, 'ram']
[2.5, 'True', True, 'ram', 1]
[1, 'ram', True, 'True', 2.5]
[1, 2.5, 40]
1
[1, 20, 2.5, 40]

In [13]:
newList = item.copy()   #Copies The Element to the Other Variable
print(newList)

[1, 20, 2.5, 40]

In [7]:
ourList = newList[:]    #Copy Operation Through Slicing
print(ourList)

[1, 20, 2.5, 40]

In [8]:
ourList.clear()   #Empties the List
print(ourList)

[]

In [14]:
#newList = ['a',1,2,3,'b']
newList.sort()
print(newList)

[1, 2.5, 20, 40]

In [15]:
newList.reverse()   #Reverse the list
print(newList)

[40, 20, 2.5, 1]

In [18]:
#WAP to arrange the elements of given list in descending order

item = [4,2,False,True, 7, 14, 11]

item.sort(reverse = True)
# item.reverse()
print(item)

[14, 11, 7, 4, 2, True, False]

In [23]:
item = [1,2,3,2,3]

item.remove(2)
print(item.index(2)+1)

3

In [30]:
# Append vs Extend
participants = ['ram','shyam']
new_commers = ['hari','roshan']
participants.append(new_commers)
print(participants)

participants2 = ['ram','shyam']
new_commers2 = ['hari','roshan']
participants2.extend(new_commers2)
print(participants2)

['ram', 'shyam', ['hari', 'roshan']]
['ram', 'shyam', 'hari', 'roshan']

In [37]:
# Tuples - Tuples are faster than List *saved in primary memo
item = (2,3,4,5)

# Indexing
print(item[0])
print(item[1])

# Slicing
print(item[:2])
print(item[::-1])

# Methods - Tuples only have 2 methods as it is immutable (inline methods)
print(item.count(2))
print(item.index(4))

2
3
(2, 3)
(5, 4, 3, 2)
1
2

In [42]:
a = [2,3,4,5]
b = a   # This is not the copy operation, it references the memory location of each other
b.append(2)
print(a)
a.clear()
print(b)

[2, 3, 4, 5, 2]
[]

In [61]:
# Sets - is an unordered unique collection of items
my_set = {2,3,4,True,False,'a','c'}
print(my_set)

# In set we cannot use indexing, since it is unordered. Same for slicing

# Methods
my_set.add(5)   # Elements can get inserted anywhere since it is unordered
print(my_set)

my_set.discard(5)
print(my_set)   # Deletes the element based on value

your_set = {2,3}
print(my_set.difference(your_set))    # A - B

print(my_set.union(your_set))   # A u B
print(my_set.intersection(your_set))    # A n B

print(my_set.issubset(your_set))
print(your_set.issubset(my_set))

{False, True, 2, 3, 4, 'a', 'c'}
{False, True, 2, 3, 4, 5, 'a', 'c'}
{False, True, 2, 3, 4, 'a', 'c'}
{False, True, 4, 'a', 'c'}
{False, True, 2, 3, 4, 'a', 'c'}
{2, 3}
False
True

In [71]:
my_set = {2,3,4}
your_set = {3,4,5}

my_set.difference_update(your_set)
print(my_set)

{2}

In [76]:
my_set = {2,3,4}
your_set = {3,4,5}

my_set = my_set.difference(your_set)

print(my_set)

{2}

In [110]:
# Dictionary - Stores the value in key:value pair

items = {'name': 'Ram', 'age': 20 ,'is_married': True}

In [105]:
# Indexing - Can be performed in terms of Keys
print(items['name'])
print(items['age'])

# Slicing - Cannot be performed in Dict

Ram
20

In [106]:
# Dictionary can be updated with above method
items['name'] = 'Hari'
print(items)

{'name': 'Hari', 'age': 20, 'is_married': True}

In [111]:
# Methods
print(items.get('Age'))   # Prefer this method while accessing key value, This wont give error if there is no key found
print(items.keys())   # Gives all the keys in the dictionary
print(items.values())   # Gives all the values in the dictionary
print(items.popitem())    #Pops the last key: value pair in the dictionary
print(items)

None
dict_keys(['name', 'age', 'is_married'])
dict_values(['Ram', 20, True])
('is_married', True)
{'name': 'Ram', 'age': 20}

In [112]:
print(items.pop('name'))    # Deletes the pair (key:value) based on the key
print(items)

Ram
{'age': 20}

In [113]:
items.update({'name':'Arik'})   # Adds new key: value pair; There is not key 'name'
print(items)

{'age': 20, 'name': 'Arik'}

In [114]:
items.update({'age':30})    # Value of the key is updated; There exists key 'age'
print(items)

{'age': 30, 'name': 'Arik'}