In [ ]:
# Single Line String
print('Hello World')

Hello World

In [ ]:
print('"Hello"')

"Hello"

In [ ]:
print("'Hello'")

'Hello'

In [ ]:
print('It is very "cold"')

It is very "cold"

In [ ]:
print('It'"'s" ' a "cold" day')

# Escape Sequence (\)
print('It\'s a "cold" day')
print("It's a \"cold\" day")

It's a "cold" day
It's a "cold" day
It's a "cold" day

In [ ]:
# Multiline Strings
print('''Hello Guys
We are Learning Python
and Data Science\n''')

print("""Hello Guys
We are Learning Python
and Data Science""")

Hello Guys
We are Learning Python
and Data Science

Hello Guys
We are Learning Python
and Data Science

In [ ]:
print(type(2+4))
print(type(2.5+2.5))
print(type(2*4))

<class 'int'>
<class 'float'>
<class 'int'>

In [ ]:
print(bool(1))
print(bool(0))
print(bool(40))
print(bool(-1))
print(bool())
print(bool(False))
print(bool(0.1))
print(bool([0]))
print(bool(1-1))
print(bool([]))
print(bool(['']))
print(bool(()))

True
False
True
True
False
False
True
True
False
False
True
False

In [ ]:
#Strings
Text = "We are learning Python"

#Indexing (Accessing Element Throught Integer Value)
print(Text[0])
print(Text[1])
print(Text[-1])
print(Text[-2])

#Slicing (Accessing Certain Part of Strings)
print(Text[0:5])
print(Text[2:6])
print(Text[:5])
print(Text[-1:])
print(Text[5:-1])

W
e
n
o
We ar
 are
We ar
n
e learning Pytho

In [ ]:
# Methods are the functions that is specific to centain objects

print(Text.upper())
print(Text.lower())
print(Text.find('are'))
print(Text.replace('Python','Data Science'))

WE ARE LEARNING PYTHON
we are learning python
3
We are learning Data Science

In [ ]:
# Built-in Functions
print(len(Text))
print(type(Text))

22
<class 'str'>

In [ ]:
# List
items = [1, 'ram', True, 'True', 2.5]

# Indexing
print(items[0])
print(items[-1])

# Slicing
print(items[0:2])
print(items[::-1])
print(items)

# Methods
item = [1, 2.5]
item.append(40)
print(item)
print(item.index(2.5))
item.insert(1, 20)
print(item)

#item.insert - adds the element based on the given index
#item.remove - deletes the element based on value
#item.pop - deletes the element based on index

1
2.5
[1, 'ram']
[2.5, 'True', True, 'ram', 1]
[1, 'ram', True, 'True', 2.5]
[1, 2.5, 40]
1
[1, 20, 2.5, 40]

In [ ]:
newList = item.copy()   #Copies The Element to the Other Variable
print(newList)

[1, 20, 2.5, 40]

In [ ]:
ourList = newList[:]    #Copy Operation Through Slicing
print(ourList)

[1, 20, 2.5, 40]

In [ ]:
ourList.clear()   #Empties the List
print(ourList)

[]

In [ ]:
#newList = ['a',1,2,3,'b']
newList.sort()
print(newList)

[1, 2.5, 20, 40]

In [ ]:
newList.reverse()   #Reverse the list
print(newList)

[40, 20, 2.5, 1]

In [ ]:
#WAP to arrange the elements of given list in descending order

item = [4,2,False,True, 7, 14, 11]

item.sort(reverse = True)
# item.reverse()
print(item)

[14, 11, 7, 4, 2, True, False]

In [ ]:
item = [1,2,3,2,3]

item.remove(2)
print(item.index(2)+1)

3

In [ ]:
# Append vs Extend
participants = ['ram','shyam']
new_commers = ['hari','roshan']
participants.append(new_commers)
print(participants)

participants2 = ['ram','shyam']
new_commers2 = ['hari','roshan']
participants2.extend(new_commers2)
print(participants2)

['ram', 'shyam', ['hari', 'roshan']]
['ram', 'shyam', 'hari', 'roshan']

In [ ]:
# Tuples - Tuples are faster than List *saved in primary memo
item = (2,3,4,5)

# Indexing
print(item[0])
print(item[1])

# Slicing
print(item[:2])
print(item[::-1])

# Methods - Tuples only have 2 methods as it is immutable (inline methods)
print(item.count(2))
print(item.index(4))

2
3
(2, 3)
(5, 4, 3, 2)
1
2

In [ ]:
a = [2,3,4,5]
b = a   # This is not the copy operation, it references the memory location of each other
b.append(2)
print(a)
a.clear()
print(b)

[2, 3, 4, 5, 2]
[]

In [ ]:
# Sets - is an unordered unique collection of items
my_set = {2,3,4,True,False,'a','c'}
print(my_set)

# In set we cannot use indexing, since it is unordered. Same for slicing

# Methods
my_set.add(5)   # Elements can get inserted anywhere since it is unordered
print(my_set)

my_set.discard(5)
print(my_set)   # Deletes the element based on value

your_set = {2,3}
print(my_set.difference(your_set))    # A - B

print(my_set.union(your_set))   # A u B
print(my_set.intersection(your_set))    # A n B

print(my_set.issubset(your_set))
print(your_set.issubset(my_set))

{False, True, 2, 3, 4, 'a', 'c'}
{False, True, 2, 3, 4, 5, 'a', 'c'}
{False, True, 2, 3, 4, 'a', 'c'}
{False, True, 4, 'a', 'c'}
{False, True, 2, 3, 4, 'a', 'c'}
{2, 3}
False
True

In [ ]:
my_set = {2,3,4}
your_set = {3,4,5}

my_set.difference_update(your_set)
print(my_set)

{2}

In [ ]:
my_set = {2,3,4}
your_set = {3,4,5}

my_set = my_set.difference(your_set)

print(my_set)

{2}

In [ ]:
# Dictionary - Stores the value in key:value pair

items = {'name': 'Ram', 'age': 20 ,'is_married': True}

In [ ]:
# Indexing - Can be performed in terms of Keys
print(items['name'])
print(items['age'])

# Slicing - Cannot be performed in Dict

Ram
20

In [ ]:
# Dictionary can be updated with above method
items['name'] = 'Hari'
print(items)

{'name': 'Hari', 'age': 20, 'is_married': True}

In [ ]:
# Methods
print(items.get('Age'))   # Prefer this method while accessing key value, This wont give error if there is no key found
print(items.keys())   # Gives all the keys in the dictionary
print(items.values())   # Gives all the values in the dictionary
print(items.popitem())    #Pops the last key: value pair in the dictionary
print(items)

None
dict_keys(['name', 'age', 'is_married'])
dict_values(['Ram', 20, True])
('is_married', True)
{'name': 'Ram', 'age': 20}

In [ ]:
print(items.pop('name'))    # Deletes the pair (key:value) based on the key
print(items)

Ram
{'age': 20}

In [ ]:
items.update({'name':'Arik'})   # Adds new key: value pair; There is not key 'name'
print(items)

{'age': 20, 'name': 'Arik'}

In [ ]:
items.update({'age':30})    # Value of the key is updated; There exists key 'age'
print(items)

{'age': 30, 'name': 'Arik'}

# **Day 3**

In [ ]:
# Input function
name = input('What is your name? ')
print(name)

What is your name?Arik
Arik

In [ ]:
name = input('What is your name? ')
age = int(input('What is your age? '))

print(f'Hi {name}! Your age is {age}')

What is your name? Arik
What is your age? 21
Hi Arik! Your age is 21

In [ ]:
# Type Conversion

birth_year = int(input('What is your birth year? '))
age = 2025 - birth_year
print(f'Your age is {age}.')

What is your birth year? 2003
Your age is 22.

In [ ]:
# Arithmetic Operation
print(2+2*2)
print(2*2-2+2)
print(2**4)   # Power

print(9/2)    # Absolute Quotient with Decimal
print(9//2)   # Quotient without Decimal
print(9%2)    # Remainder (Modulo)

6
4
16
4.5
4
1

In [ ]:
print('Arik' + ' Rai')    # Here, + is used as concatenation
print('Hello World ' * 3)   # Here, * is working as multiplication for the string

Arik Rai
Hello World Hello World Hello World

In [ ]:
fname = input('What is your first name? ')
lname = input('What is your last name? ')

fullname = fname + ' ' + lname

print('Your name is ' + fname + ' ' +lname)
print('Your name is ' + fullname)

What is your first name? Arik
What is your last name? Rai
Your name is Arik Rai
Your name is Arik Rai

In [ ]:
fname = input('What is your first name? ')
age = input('What is your age? ')

print('Your name is ' + fname + ' and age is ' + age)

What is your first name? Arik
What is your age? 21
Your name is Arik and age is 21

In [ ]:
fname = 'Arik'
age = 21

print('My name is ' + fname + ' and age is ' + str(age))

My name is Arik and age is 21

In [ ]:
# Concatenation with Commas
name = 'Arik Rai'
age = 21

print('My name is', name, 'and age is', age)

My name is Arik Rai and age is 21

In [ ]:
century = 20
year = 25

print('The current year is', century, year)   # Gives extra comma

The current year is 20 25

In [ ]:
century = 20
year = 25
print(f'The current year is {century}{year}.')

The current year is 2025

In [ ]:
# Conditional Statement (if, elif, else)
price = 105
if price > 100:
  print('Overpriced')
else:
  print('Good Price')

Overpriced

In [ ]:
price = 105
if price > 100:
  print('The price is greater than 100')
elif price == 100:
  print('The price is exactly 100')
else:
  print('The price is less than 100')

The price is greater than 100

In [ ]:
is_cold = False

if is_cold:
  print('It is a cold day')
  print('Wear warm clothes')

else:
  print('It is a hot day')
  print('Drink plenty of water')

print('Enjoy your day')

It is a hot day
Drink plenty of water
Enjoy your day

In [ ]:
is_cold = True
is_rainy = True

if is_cold:
  print('Wear Warm Clothes')
else:
  print('Wear Cold Clothes')

if is_rainy:
  print('Bring Your Umbrella')
else:
  print('Dont Bring Umbrella')

Wear Warm Clothes
Bring Your Umbrella

In [ ]:
is_cold = True
is_rainy = True

if is_cold:
  print('Wear Warm Clothes')
else:
  print('Wear Cold Clothes')

if is_rainy:
  print('Bring Your Umbrella')
else:
  print('Dont Bring Umbrella')

Wear Warm Clothes
Bring Your Umbrella

In [ ]:
is_friend = True

if is_friend:
  print('Allowed to message')
else:
  print('Not allowed to message')

# Ternary Operator (Applied to conditional statement)
print('Allowed to message' if is_friend else 'Not allowed to message')

Allowed to message
Allowed to message

In [ ]:
# Short Circuiting (Try to make short circuits)
price = 102
is_brand = True

if price > 100 and is_brand:
  print('Consider the product')
elif price < 100 and is_brand:
  print('Buy the product')
elif price > 100 and not is_brand:
  print('Dont buy the product')
else:
  print('Think of it')

if price > 100 and is_brand:
  print('Consider the product')
elif price < 100 and is_brand:
  print('Buy the product')
elif price > 100:
  print('Dont buy the product')
else:
  print('Think of it')

if  is_brand and price > 100:     # Better (Short Circuiting)
  print('Consider the product')
elif is_brand and price < 100:
  print('Buy the product')
elif not is_brand and price > 100 :
  print('Dont buy the product')
else:
  print('Think of it')

Consider the product
Consider the product