In [1]:
# Set comprehension

my_set = {2,1,2,3,4}

item = {a for a in my_set}
item

{1, 2, 3, 4}

In [2]:
my_value = [1,2,3,4]

item = {a for a in my_value if a % 2 == 0}

item

{2, 4}

In [3]:
my_list = [char for char in 'Hello']
print(my_list)

['H', 'e', 'l', 'l', 'o']

In [29]:
# Dictionary Comprehension

simple_dict = {
    'a': 2,
    'b': 3
}

new_dict = {key: value**2 for key, value in simple_dict.items()}
new_dict1 = {key: value**2 for key, value in simple_dict.items() if value % 2 == 0}
x = simple_dict.values()

new_list = [a for a in x if a % 2 == 0]

# new_dict2 = {key: value**2 for key, value in simple_dict.items if value == new_list}

# print(new_list2)

sq_even = {x:y**2 if y % 2 == 0 else y for x,y in simple_dict.items()}
print(sq_even)

{'a': 4, 'b': 3}

In [31]:
num_dict = {num * 2: num ** 2 for num in [1,2,3]}
print(num_dict)

{2: 1, 4: 4, 6: 9}

In [54]:
# Dictionary Comprehension (using list and converting back to dictionary)

simple_dictionary = {
    'a': 2,
    'b': 3
}

new_dict = dict([(key,value**2) for (key,value) in simple_dictionary.items()])
print(new_dict)

new_dict1 = dict([(key,value**2) for (key,value) in simple_dictionary.items() if value % 2 == 0])
print(new_dict1)

new_dict2 = dict([(key,value**2) if value % 2 == 0 else (key,value) for (key,value) in simple_dictionary.items() ])
print(new_dict2)

{'a': 4, 'b': 9}
{'a': 4}
{'a': 4, 'b': 3}

In [55]:
num_dict = dict((num + 2, num ** 2) for num in [1,2,3])

print(num_dict)

{3: 1, 4: 4, 5: 9}

In [56]:
# WAP to sort the list [4,3,5,1]

list = [4,3,5,1]

list.sort()
print(list)

[1, 3, 4, 5]

In [3]:
# WAP to print the sq num using lambda [1,2,3,4]    [1,4,9,16]

list1 = [1,2,3,4]

print(list(map(lambda x: x ** 2, list1)))

[1, 4, 9, 16]

In [27]:
# WAP to sort the list of tuples (use 2nd key, using lamda)

list_tuple = [(1,4), (2,2)]

list_tuple.sort(key = lambda x:x[1])
print(list_tuple)

[(2, 2), (1, 4)]

In [28]:
my_tup = [(2,4,2), (2,5,1), (1,8,3)]

my_tup.sort(key = lambda x:x[2])
print(my_tup)

[(2, 5, 1), (2, 4, 2), (1, 8, 3)]

In [60]:
# Decorators (used to decorate the function)

def hello():
  print('hello')

greet = hello()

greet

def hello(func):
  func()

def greet():
  print('still here')

a = hello(greet)
a

hello
still here

In [ ]:
# Higher Order Function: Function that accepts or returns another function called HOP
# Map, Filter, Reduce are all HOF

def greet(func):
  func()

def greet2(func):
  def func():
    return 5
  return func

In [ ]:
# Decorators

def my_decorator(func):
  def wrap_func():
    func()