In [7]:
# WAP that filters the even number from the list into the new list

def even_number(lst):
  lst1 = []

  for i in lst:
    if i % 2 == 0:
      lst1.append(i)

  print(lst1)

def even_number1(lst):
  lst1 =[]
  i = 0
  while i < len(lst):
    if lst[i] % 2 == 0:
      lst1.append(lst[i])
    i += 1

  print(lst1)

lst = [1,2,3,4,5,6]
even_number1(lst)

[2, 4, 6]

In [70]:
def even_number(lst):
  if lst % 2 == 0:
    return lst

lst = [1,2,3,4,5,6]

new_lst = list(map(even_number, lst))

def remove(new_lst1):
  if new_lst1 == None:
    new_lst.remove(None)

list(map(remove, new_lst))
print(new_lst)

print([i for i in lst if i % 2 == 0])

[2, 4, 6]
[2, 4, 6]

In [72]:
def only_even(li):
  return li % 2 == 0

my_list = [1,2,3,4,5,6]
print(list(filter(only_even, my_list)))

[2, 4, 6]

In [92]:
# Zip

my_list = [1,2,3,4,5]
your_list = [6,7,8,9,'ram']

print(list(zip(my_list, your_list)))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 'ram')]

In [74]:
print(list(zip(['ram','shyam'], ['sita', 'radha'])))

[('ram', 'sita'), ('shyam', 'radha')]

In [83]:
# my_list = [1,2,3,4,5]
# your_list = [6,7,8,9,'ram']
# new_array = []

# for i in my_list:
#   for j in your_list:
#     # new_array.append(tuple(j))

# # print(new_array)

In [90]:
# Reduce

from functools import reduce
my_list = [2,3,4,5]

def accumulator(acc, item):
  print(acc,item)
  return acc + item

print(reduce(accumulator, my_list, 3))

3 2
5 3
8 4
12 5
17

In [95]:
# Lambda function : Anonymous
print(list(map(lambda item: item * 2, [2,3,4,5])))

[4, 6, 8, 10]

In [137]:
print(list(map(lambda item: item ** 2, filter(lambda item: item % 2 == 0, [1,2,3,4]))))

print(list(map(lambda item: item ** 2 if item % 2 == 0 else item, [1,2,3,4])))

[4, 16]
[1, 4, 3, 16]

In [139]:
# List Comprehension

list1 = [1,2,3,4]
print([i**2 for i in list1])

[1, 4, 9, 16]

In [140]:
new = []
for i in list1:
  new.append(i ** 2)
print(new)

[1, 4, 9, 16]

In [144]:
def func(num):
  return num ** 2

print(list(map(func, list1)))

[1, 4, 9, 16]

In [150]:
print(list(map(lambda x: x ** 2, list1)))

[1, 4, 9, 16]

In [164]:
print([i ** 2 for i in [1,2,3,4] if i % 2 == 0])
print([i ** 2 if i % 2 == 0 else i for i in [1,2,3,4]])

[4, 16]
[1, 4, 3, 16]